.bs-sidenav > .btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bs-sidenav > .filter {
    margin-bottom: 5px;
}

.filter > input {
    width: 100%;
}

.eqLogicThumbnailContainer .eqLogicAction,
.eqLogicThumbnailContainer .eqLogicDisplayCard {
    text-align: center;
    background-color: #ffffff;
    height: 140px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 2px;
    width: 160px;
    margin-left: 10px;
}

.eqLogicThumbnailContainer .eqLogicAction > i {
    font-size: 6em;
    display: block;
}

.eqLogicThumbnailContainer .eqLogicAction > span {
    top: 23px;
}

.eqLogicThumbnailContainer .eqLogicAction > span,
.eqLogicThumbnailContainer .eqLogicDisplayCard > span {
    font-size: 1.1em;
    position: relative;
    word-break: break-all;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.eqLogicThumbnailContainer .eqLogicDisplayCard > span {
    display: block;
    top: 2px;
}

.eqLogicThumbnailContainer .eqLogicDisplayCard > img {
    width: 6em;
    height: 6em;
}

.eqLogicThumbnailDisplay {
    border-left: solid 1px #EEE;
    padding-left: 25px;
}

.green-text {
    color: #94ca02;
}

.grey-text {
    color: #767676;
}